@import url("https://fonts.googleapis.com/css2?family=Alegreya&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Urbanist&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

.normal{
  background-color: #FFE0AA
}
.fire{
  background-color: #FAB05B
}
.water{
  background-color: #7CBEE1
}
.grass{
  background-color: #AFD26E
}
.fighting{
  background-color: #AE6145
}
.flying{
  background-color: #A099C5
}
.poison{
  background-color: #CC6AA5
}
.ghost{
  background-color: #947FB7
}
.steel{
  background-color: #B2B0B0
}
.electric{
  background-color: #FEE183
}
.psychic{
  background-color: #F595A3
}
.ground{
  background-color: #D3B289
}
.rock{
  background-color: #B0A860
}
.bug{
  background-color: #C7DB6C
}
.ice{
  background-color: #BDE0D9
}
.dragon{
  background-color: #7B73AF
}
.dark{
  background-color: #898989
}
.fairy{
  background-color: #F8BFCD
}